<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Formas de pago</h2>
					<p> Podes pagar en efectivo, con Mercado Pago o transferencia ¡Y siempre
						es seguro!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Envío gratis desde $ 2500</h2>
					<p>Envíos menores a $2500 tienen un costo de $300</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-truck"></i>
					<h2>Días de entrega</h2>
					<p>Martes entre las 16 y 19 horas. Sábados entre las 14 y 18 horas</p>
                    <p>Para entregas en el día, la reserva se hace con dos horas de antelación</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<div class="sub-footer">
	<div class="container">
		<p>Copyright © Bernutss 2023.</p>
		
	</div>
</div>